/*==== GOOGLE FONTS ====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --header-height: 3rem;

    /*==== Font weight ====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*==== Colores ====*/
    --dark-color: #141414;
    --dark-color-light: #8A8A8A;
    --dark-color-lighten: #F2F2F2;
    --white-color: #FFF;

    /*==== Font and Typography ====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;

    /*==== Margenes ====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*==== z index ====*/
    --z-fixed: 100;

    /*==== Rotate img ====*/
    --rotate-img: rotate(-30deg);
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 1.5rem;
        --bigger-font-size: 2rem;
        --biggest-font-size: 3rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.875rem;
    }
}

/*==== BASE ====*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

/*==== LAYOUT ====*/
.inner {
    max-width: 1200px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

/*==== HEADER ====*/
.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.nav__container {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 0;
    margin: auto;
}

.nav__menu {
    font-size: 1.5rem;
    cursor: pointer;
}

.nav__logo {
    margin: 22px;
    font-size: 1.3rem;
    font-weight: var(--font-semi-bold);
}

@media screen and ( max-width: 768px) {
    .nav__search {
        display: none;
    }
};


/*==== HOME ====*/

.home__section {
    
}

.home__container {
    margin-top: 5rem;
    height: 1575px;
    position: relative;
}

.home__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 340px;
    right: 0;
    left: 0;
    margin: 3.5rem auto;
}

.home__image {
    width: 340px;
    height: 360px;
    overflow: hidden;
}

.home__title {
    font-weight: var(--font-bold);
    font-size: 3rem;
}

/*==== SUBSCRIBE ====*/

.subscribe__container {
    
}

.subscribe__bg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 356px;
    background-color: #cae8e2;
    row-gap: 2.5rem;
    right: 0;
    left: 0;
    margin: auto;
}

.subscribe__title {
    margin-top: 1.5rem;
    font-size: 36px;
    font-weight: var(--font-bold);
    text-align: center;
}

.subscribe__title::after{
    content: '';
    position: absolute;
    width: 73px;
    height: 3px;
    top: 7rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}

.subscribe__text {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

.subscribe__form {
    display: flex;
    flex-direction: column;
    row-gap: 1.3rem;
}

.subscribe__input {
    width: 280px;
    height: 40px;
    outline: none;
}

.subscribe__btn {
    background-color: #f1c8b2;
    width: 280px;
    height: 40px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
}

/*==== Introduction ====*/

.intro__section {

}

.intro__container {
    position: relative;
    width: 340px;
    right: 0;
    left: 0;
    margin: auto;
}

.intro__title{
    margin-top: 80px;
}

.intro__head {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.shape {
    width: 267px;
    height: 21px;
    background: #f7e0d4;
    margin-bottom: 20px;
}

.intro__text1 {
    font-size: 18px;
    margin-bottom: 18px;
    font-weight: 300;
}

.intro__text2 {
    font-size: 18px;
    font-weight: 300;
}

/*==== Tours ====*/

.tour__section {

}

.tour__container {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-top: 80px;
}

.tour {
    
}

.tour__image {
    position: relative;
    width: 340px;
    right: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
}

.tour__image img {
    width: 340px;
    height: 334px;
    object-fit: cover;
}

.tour__text1 {
    position: relative;
    background: #f7e0d4;
    width: 278px;
    height: 296px;
    margin: -50px auto 0;
    padding: 1.8rem;
}

.tour__text2 {
    position: relative;
    background: #d7ecfa;
    width: 278px;
    height: 296px;
    margin: -50px auto 0;
    padding: 1.8rem;
}


.tour__text3 {
    position: relative;
    background: #cae8e2;
    width: 278px;
    height: 296px;
    margin: -50px auto 0;
    padding: 1.8rem;
}

.tour__text1 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tour__text1 p {
    font-size: 18px;
    font-weight: 300;
}

.tour__text2 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tour__text2 p {
    font-size: 18px;
    font-weight: 300;
}

.tour__text3 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tour__text3 p {
    font-size: 18px;
    font-weight: 300;
}

/*==== Counter ====*/

.counter__section {

}

.counter__container {
    text-align: center;
    margin-top: 80px;
}

.counters {
    row-gap: 4rem;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tour__conter {

}

.expirience__conter {
    
}

.destinations__conter {
    
}

.happyclients__conter {
    
}

.counter__count {
    font-size: 96px;
    font-weight: 700;
}

.counter__text {
    font-size: 18px;
    font-weight: 300;
}

/*==== Plan ====*/

.plan__section {

}

.plan__container {
    width: 340px;
    right: 0;
    left: 0;
    margin: auto;
}

.plans {
    display: grid;
    row-gap: 4rem;
    margin-top: 90px;
}

.plan__img img{
    width: 340px;
    height: 318px;
    object-fit: cover;
}

.plan__text {
    width: 340px;
    height: 318px;
}

.plan__text h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 45px;
}

.plan__text p {
    font-size: 18px;
    font-weight: 300;
}

/*==== Footer ====*/

.footer__section {

}

.footer__container {
    width: 340px;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    margin-bottom: 60px;
}

.footer__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.footer__icon {
    font-size: 24px;
    margin-bottom: 1rem;
}

.footer__copy {
    font-size: 18px;
    font-weight: 300;

}

@media screen and (min-width: 1024px) {
    .inner{
        margin-left: auto;
        margin-right: auto;
    }
}