/*==== GOOGLE FONTS ====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --header-height: 5rem;

    /*==== Font weight ====*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*==== Colores ====*/
    --dark-color: #141414;
    --dark-color-light: #8A8A8A;
    --dark-color-lighten: #F2F2F2;
    --white-color: #FFF;

    /*==== Font and Typography ====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;

    /*==== Margenes ====*/
    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    /*==== z index ====*/
    --z-fixed: 100;

    /*==== Rotate img ====*/
    --rotate-img: rotate(-30deg);
}

@media screen and (min-width: 768px){
    :root{
        --big-font-size: 1.5rem;
        --bigger-font-size: 2rem;
        --biggest-font-size: 3rem;
        --h2-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.875rem;
    }
}

/*==== BASE ====*/
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-color);
    line-height: 1.6;
}

h1,h2,h3,p,ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--dark-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
/*==== SECTION ====*/
.section {
    padding: 5rem 0 2rem;
}

/*==== LAYOUT ====*/
.inner {
    max-width: 1200px;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

/*==== HEADER ====*/
.header {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}


.nav__container {
    display: flex;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    right: 0;
    left: 0;
    margin: auto;
}

.nav__right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.nav__menu {

}

.nav__list {
}

.nav__item {
    margin-right: var(--mb-6);
}

.nav__search {
    position: relative;
    margin-right: .5rem;
}

.nav__search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    background-color: #fff;
    color: #777;
    font-size: 12px;
    transition: width 0.4s;
}

.nav__search input:focus {
    width: 190px;
    border-color: #669900;
}

.nav__search .bx-search {
    position: absolute;
    height: 16px;
    top: 0;
    bottom: 0;
    right: 6px;
    margin: auto;
    font-size: 1.3rem;
    transition: 0.4s;
}

.nav__search.focused .bx-search {
    opacity: 0;
}

.nav__toggle {
    margin-top: 6px;
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.nav__logo {
    margin: 22px;
    font-size: 1.8rem;
    font-weight: var(--font-semi-bold);
}

@media screen and ( max-width: 768px) {
    .nav__search {
        display: none;
    }

    .nav__menu {
        position: fixed;
        top: var(--header-height);
        width: 100%;
        right: -100%;
        height: 100vh;
        background-color: #fff;
        padding: 1rem;
        transition: .5s;
    }

    .nav__list {
        display: grid;
        width: 100%;
        row-gap: .5rem;
    }

    .nav__item {
        background-color: #f1c8b2;
        padding: 2rem;
        width: 100%;
        text-align: center;
        font-size: 18px;
    }

    .nav__toggle {
        display: block;
    }
}

@media  screen and ( min-width: 768px ) {
    .nav__list {
        display: flex;
    }
}
/* Active Link */
.active{
    position: relative;
}

.active::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    background-color: var(--dark-color);
    border-radius: 50%;
}

/*==== SCROLL HEADER ====*/
.scroll-header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*==== SHOW MENU ====*/

.show {
    right: 0;
}

/*==== HOME ====*/
.home__container {
    height: 750px;
}

.home__item {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    row-gap: 5rem;
    align-items: center;
    justify-items: center;
}

.home__image {
    position: relative;
}

.home__image img{
    width: 500px;
    height: 305px;
    object-fit: cover;
}

.home__title {
    position: absolute;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 305px;
    height: 275px;
    text-align: center;
    background-color: #fff;
    opacity: .8;
    font-weight: var(--font-bold);
    font-size: 3rem;
}



@media screen and ( max-width: 1024px) {

    .home__container {
        height: 725px;
    }

    .home__image img {
        width: 480px;
        height: 305px;
        object-fit: cover;
    }

    .home__item {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        row-gap: 2rem;
    }
}

@media screen and ( max-width: 768px) {

    .home__container {
        height: 525px;
    }
    
    .home__image img {
        width: 340px;
        height: 205px;
        object-fit: cover;
    }

    .home__item {
        row-gap: .5rem
    }
}

@media screen and ( max-width: 711px) {
    
    .home__image img {
        width: 340px;
        height: 205px;
        object-fit: cover;
    }

    .home__container {
        height: 930px;
    }
    
    .home__item {
        row-gap: .5rem
    }
}


/*==== Introduction ====*/
.intro__container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    margin: 5rem auto 0;
    column-gap: 2rem;
    row-gap: 2rem;
}

.intro__title{
    
}

.intro__head {
    padding: 1rem;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 12px;
}

.shape {
    width: 267px;
    height: 21px;
    background: #f7e0d4;
    margin-left: 1rem;
    margin-bottom: 20px;
}

.intro__text1 {
    font-size: 18px;
    font-weight: 300;
    padding: 1rem;
}

.intro__text2 {
    font-size: 18px;
    font-weight: 300;
    padding: 1rem;
    grid-column: span 2;
}


@media screen and ( max-width: 1115px) {
    .intro__container {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        padding: 3rem;
        margin-top: 0;
    }
}

@media screen and ( max-width: 720px) {
    .intro__container {
        width: 340px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        padding: 0;
    }

    .intro__text2 {
        grid-column: span 1;
        grid-row: span 2;
    }
}


/*==== Tours ====*/
.tour__container {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-top: 5rem;
}

.tour {
    
}

.tour__image {
    position: relative;
    width: 340px;
    right: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
}

.tour__image img {
    width: 340px;
    height: 334px;
    object-fit: cover;
}

.tour__text1 {
    position: relative;
    background: #f7e0d4;
    width: 278px;
    height: 296px;
    margin: -50px auto 0;
    padding: 1.8rem;
}

.tour__text2 {
    position: relative;
    background: #d7ecfa;
    width: 278px;
    height: 296px;
    margin: -50px auto 0;
    padding: 1.8rem;
}


.tour__text3 {
    position: relative;
    background: #cae8e2;
    width: 278px;
    height: 296px;
    margin: -50px auto 0;
    padding: 1.8rem;
}

.tour__text1 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tour__text1 p {
    font-size: 18px;
    font-weight: 300;
}

.tour__text2 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tour__text2 p {
    font-size: 18px;
    font-weight: 300;
}

.tour__text3 h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.tour__text3 p {
    font-size: 18px;
    font-weight: 300;
}

/*==== Counter ====*/
.counter__container {
    text-align: center;
}

.counters {
    row-gap: 4rem;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    row-gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.tour__conter {

}

.expirience__conter {
    
}

.destinations__conter {
    
}

.happyclients__conter {
    
}

.counter__count {
    font-size: 96px;
    font-weight: 700;
}

.counter__text {
    font-size: 18px;
    font-weight: 300;
}

@media screen and ( max-width: 1024px) {
    .counters {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .counter__count {
        font-size: 80px;
    }
}

@media screen and ( max-width: 768px) {
    .counter__section {
        padding: 0;
    }

    .counters {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/*==== Plan ====*/

.plan__container {
    margin-top: 5rem;
}

.plans {
    display: grid;
    row-gap: 5rem;
    grid-template-columns: 100%;
    column-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
}

.plan__img img{
    width: 340px;
    height: 318px;
    object-fit: cover;
}

.plan__text {
    width: 340px;
    height: 318px;
    padding: 2.2rem;
}

.plan__text h2 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 45px;
}

.plan__text p {
    font-size: 18px;
    font-weight: 300;
}

@media screen and ( max-width: 1024px) {
    .plans {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}


/*==== SUBSCRIBE ====*/

.subscribe__container {

}

.subscribe__bg {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    background-color: #cae8e2;
    row-gap: 2.5rem;
}

.subscribe__title {
    margin-top: 1.5rem;
    font-size: 36px;
    font-weight: var(--font-bold);
    text-align: center;
}

.subscribe__title::after{
    content: '';
    position: absolute;
    width: 73px;
    height: 3px;
    top: 7rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}

.subscribe__text {
    font-size: 18px;
    text-align: center;
    font-weight: 300;
}

.subscribe__form {
    display: flex;
    flex-direction: row;
    row-gap: 1.3rem;
}

.subscribe__input {
    width: 280px;
    height: 40px;
    outline: none;
}

.subscribe__btn {
    background-color: #f1c8b2;
    width: 140px;
    height: 40px;
    font-weight: 300;
    text-align: center;
    padding: 10px;
    margin-left: 20px;
}

@media screen and ( max-width: 712px) {

    .subscribe__bg {
        height: 356px;
    }

    .subscribe__form {
        flex-direction: column;
    }
    
    .subscribe__btn {
        width: 280px;
        margin-left: 0;
    }
}


/*==== Footer ====*/
.footer__container {
    text-align: center;
    margin-bottom: 60px;
}

.footer__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.footer__icon {
    font-size: 24px;
    margin-bottom: 1rem;
}

.footer__copy {
    font-size: 18px;
    font-weight: 300;

}

@media screen and (min-width: 1024px) {
    .inner{
        margin-left: auto;
        margin-right: auto;
    }
}

/*==== To-TOP ====*/

#to-top {
    position: fixed;
    display: flex;
    width: 42px;
    height: 42px;
    background-color: #62a094;
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 9;
    transition: .5s;
}

#to-top .bx-up-arrow-alt {
    font-size: 1.5rem;
}

.to-top.show{
    right: 2rem;
    bottom: 2rem;
}